.square-field {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.square {
  background-color: #fff;
  border: 1px solid #000;
  height: 50px;
  margin: 5px;
  transition: background-color 0.3s ease;
  width: 50px;
}

.square.blue {
  background-color: #1c6ea4;
}